{% macro form(model, bfms) -%}
<div class="row mb-3">
    <form>
        {% block modal_content %}
        {% endblock %}
        {% for key, field in model.field_input_map().items() %}
            {% if not field.auto %}
                <div class="col-lg-12 mb-3">
                    <label class="form-label">{{ key.replace('_', ' ').title() }}</label>
                    {% with key=field.source_field or key, value=bfms[obj.__getattribute__(key).remote_model] if obj and bfms.get(obj.__getattribute__(key).remote_model) else obj and obj[key] %}
                        {% include "components/inputs/"+field.input+".html" %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-primary ms-auto" {{ '' if obj else 'data-bs-dismiss=modal' }} type="submit">
            {{ 'Edit' if obj else 'New' }} {{ model.__name__ }}
        </button>
        {% if obj %}
        <button class="btn btn-danger ms-auto" {{ '' if obj else 'data-bs-dismiss=modal' }} type="button" onclick="del()">
            Delete
        </button>
        {% endif %}
    </form>
</div>

<script>
{# form submit #}
document.getElementsByTagName('form')[0].onsubmit = async e => {
    e.preventDefault()
    const data = Object.fromEntries(new FormData(e.target))
    await fetch("/v2/{{ model.__name__ }}{{ obj and '/'+(obj.pk | string) }}", {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    {% if obj %}
    window.location = '/{{ model.__name__ }}'
    {% else %}
    $('#dt-{{ model.__name__ }}').DataTable().ajax.reload()
    {% endif %}
}
{# delete button #}
{% if obj %}
const del = async e => {
    await fetch("/v2/{{ model.__name__ }}/{{ obj.pk | string }}", {
        method: 'DELETE',
    })
    window.location = '/{{ model.__name__ }}'
}
{% endif %}

</script>
{%- endmacro %}