{% macro table(model) -%}

    <table id="dt-{{ model.__name__ }}" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            {% for field in cols %}
                <th>{{ field['data'] }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new DataTable('#dt-{{ model.__name__ }}', {
                ajax: {
                    url: '/dt/{{ model.__name__ }}',
                    type: 'POST'
                },
                columns: {{ model.cols() | tojson }},
                serverSide: true,
                lengthMenu: [20, 100, 1000]
            })
        });
    </script>

{%- endmacro %}
