{% macro table(model) -%}

    <table id="dt-{{ model_name }}" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            {% for field in fields %}
                <th>{{ field.name }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>

    <script>
    document.addEventListener("DOMContentLoaded", () => {
        new DataTable('#dt-{{ model_name }}', {
            ajax: {
                url: '/dt/{{ model_name }}',
                type: 'POST'
            },
            columns: {{ fields | tojson }},
            serverSide: true,
            lengthMenu: [20, 100, 1000],
        })
    });
    </script>
{%- endmacro %}
